/* =================================
  Button Transitions
==================================== */

.button {
	color: #4a89ca;
	border: 2px solid;
	/*transition-property: background, border-radius, color;
	transition-duration: .4s, .8s, .4s;*/
}

.button:hover {
	/*color: #fff;
	background: #4a89ca;
	border-radius: 1em;*/
}

.button:active {
	background: #a33830;
}

/* =================================
  Photo Overlay Transitions
==================================== */
.photo-overlay {
	opacity: 0;
	/*transition-duration: .5s;
	transition-property: opacity;*/
	transition: opacity .5s;
}

.photo-overlay:hover {
	opacity: 1;
}

.photo-overlay .button {
	opacity: 0;
	/*transition-property: opacity, background, box-shadow;
	transition-duration: .5s;
	transition-delay: .2s, .3s, 0s;*/
	transition: opacity .3s .2s, background .4s .3s, box-shadow .5s 0s;
	transition-timing-function: ease-out;
}

.photo-overlay .button:hover {
	background: rgba(74, 137, 202, 1);
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .7);
}

.photo-overlay .button:hover .btn-icon {
	opacity: 1;
	left: 80%;
}

.photo-overlay .btn-icon {
	/*transition-property: opacity, left;
	transition-duration: .5s;
	transition-delay: .3s;*/
	transition: opacity .5s .3s, left .5s .3s;
	transition-timing-function: ease-out;
}

.photo-overlay:hover .button {
	opacity: 1;
}
